#all vscode files
.vscode

#all python cache
__pycache__
32x32
64x64
data
data_v2


#all files of the dataset
data
*.jpg
*.jpeg
*.bmp
*.png
*.txt
*.xlsx
*.pts

#all keras files
*.h5
*.json

#archive
*.zip
*.tgz

#script files
*.sh